/* 整个滚动条 */

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #3c9bff;
}

.trans-all {
    /* 标准的语法 */
    transition: all .5s;
    /* Firefox 4 */
    -moz-transition: all .5s;
    /* Safari 和 Chrome */
    -webkit-transition: all .5s;
    /* Opera */
    -o-transition: all .5s;
}

/*-----------------------------------通用结束-----------------------------------*/

/*-----------------------------------------------------------------------------*/

/*-----------------------------------HeadCSS-----------------------------------*/

/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/

/*----------------------------------Head End-----------------------------------*/

/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/

/*----------------------------------SearchCSS----------------------------------*/

/*-----------------------------------------------------------------------------*/

.content-search {
    font-size: 15px;
    width: 100%;
}

.content-search {
    margin-top: 10px;
}

.content-search>.search-text-frame {
    margin: 0 auto;
}

.content-search>.search-submit-frame {
    overflow: hidden;
    background-color: #e2dbbe;
    margin: 0 auto;
}

.content-search .search-text {
    height: 40px;
    width: 100%;
    background-color: #eee;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 17px;
    color: #333;
    border: 0 solid;
    border-radius: 4px 4px 0 0;
    outline: none;
}

.content-search .search-text:focus {
    box-shadow: 0 0 10px #fff;
}

.content-search>.search-submit-frame>div {
    float: left;
    width: 25%;
    height: 35px;
}

.content-search .search-submit {
    background-color: #e2dbbe;
    color: #777;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: #d2bdae;
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 0;
}

.content-search .search-submit:hover {
    /* background-color: #0E80EF; */
    cursor: pointer;
    /* Safari 5.1 - 6.0 */
    background: -webkit-linear-gradient(#e2dbbe, #d2bdae);
    /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(#e2dbbe, #d2bdae);
    /* Firefox 3.6 - 15 */
    background: -moz-linear-gradient(#e2dbbe, #d2bdae);
    /* 标准的语法 */
    background: linear-gradient(#e2dbbe, #d2bdae);
}

@media (max-width: 480px) {
    .content-search>.search-text-frame {
        width: 100%;
    }
    .content-search>.search-submit-frame {
        width: 100%;
    }
    .content-search>.search-submit-frame>div {
        height: 40px;
        width: 25%;
    }
    .content-search .search-submit {
        height: 40px;
        width: 100%;
    }
}

@media (min-width: 480px) {
    .content-search>.search-text-frame {
        width: 100%;
    }
    .content-search>.search-submit-frame {
        width: 100%;
    }
    .content-search>.search-submit-frame>div {
        width: 25%;
    }
    .content-search .search-submit {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .content-search>.search-text-frame {
        width: 600px;
    }
    .content-search>.search-submit-frame {
        width: 600px;
    }
    .content-search>.search-submit-frame>div {
        width: 12.5%;
    }
    .content-search .search-submit {
        width: 100%;
    }
    .head {
        margin: 50px;
    }
}

@media (min-width: 980px) {
    .content-search>.search-text-frame {
        width: 600px;
    }
    .content-search>.search-submit-frame {
        width: 600px;
    }
    .content-search>.search-submit-frame>div {
        width: 12.5%;
    }
    .content-search .search-submit {
        width: 100%;
    }
    .head {
        margin: 60px;
    }
}





/*--------------------------------------------------------------------------*/

/*-------------------------------Search End---------------------------------*/

/*--------------------------------------------------------------------------*/


/* +++++++++++++++++++++++++++++++搜索建议+++++++++++++++++++++++++++++++ */


.collapse{
    margin-top: 0;
}
.suggestion{
    border-radius:0 ;
    background-color:#eee;
}


/* -------------------------------搜索建议------------------------------- */



/*--------------------------------------------------------------------------*/

/*----------------------------------TabCSS----------------------------------*/

/*--------------------------------------------------------------------------*/

.tabs .horizontal li a{
    border-radius:0 ;
}

/*------------item------------*/

.item-frame {
    width: 10%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.item-frame>a {
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    display: block;
    height: 25px;
    font-size: 15px;
    color: #555;
    overflow: hidden;
}

.item-frame:hover {
    background-color: #ddd;
}

.item-frame>a>img {
    width: 22px;
    vertical-align: text-bottom;
    height: 22px;
    margin-right: 2px;
}

.item-frame>a>p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}

@media (max-width: 480px) {
    /*手机屏幕，图标和文字上下排列*/
    .tabs {
        margin-top: 15px;
    }
    .item-frame {
        padding: 5px 5px;
        width: 25%;
    }
    .item-frame>a {
        text-align: center;
        height: 50px;
    }
    .item-frame>a>img {
        margin: 0;
        height: 27px;
        width: 27px;
    }
    .item-frame>a>p {
        margin: 0;
        display: block;
    }
}

@media (min-width: 480px) {
    .item-frame {
        width: 25%;
    }
}

@media (min-width: 570px) {
    .item-frame {
        width: 20%;
    }
}

@media (min-width: 768px) {
    .item-frame {
        width: 20%;
    }
    .item-frame>a {
        font-size: 17px;
    }
}

@media (min-width: 980px) {
    .item-frame {
        width: 16.66666666%;
    }
    .item-frame>a {
        font-size: 17px;
    }
}

/*---------------------------------------------------------------------------*/

/*----------------------------------Tab End----------------------------------*/

/*---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

/*----------------------------------ManageCSS----------------------------------*/

/*--------------------------------------------------------------------------*/

.site-manage {
    width: 100%;
    border: 0 solid;
    border-radius: 0 0 4px 4px;
    background: #f6f6f6;
    margin-top: 30px;
}

.site-manage>p {
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    display: block;
    text-align: center;
    color: #3c9bff;
    background-color: rgba(233, 233, 233, 0.8);
    padding: 0;
    margin: 0;
}

.site-manage>.tool-link {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.site-manage>.tool-link>div {
    width: 50%;
    float: left;
}

.tool-item-style-frame, .tool-item-link-frame {
    text-align: center;
    overflow: hidden;
    background: rgba(200, 200, 200, 0.3);
    border-radius: 4px;
    width: auto;
}

.tool-item-style-frame {
    margin-right: 5px;
}

.tool-item-link-frame {
    margin-left: 5px;
}

.tool-item-style-frame>p, .tool-item-link-frame>p {
    color: #3c9bff;
    margin: 5px 0 0 0;
}


.tool-item-frame {
    width: 70px;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px;
}

.tool-item-frame>a {
    padding: 5px 5px 10px 5px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #555;
    overflow: hidden;
    text-align: center;
    height: 50px;
}

.tool-item-frame>a>img {
    width: 28px;
    height: 28px;
    border: 0 solid #999;
    background-color: #999;
}

.tool-item-frame>a>p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
    margin: 0;
    display: block;
}

.tool-item-style-frame>.tool-item-frame>a>div {
    width: 34px;
    height: 34px;
    border: 2px solid #000;
    border-radius: 50px;
    vertical-align: text-bottom;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .site-manage>.tool-link>div {
        width: 100%;
    }
    .tool-item-style-frame {
        margin-right: 0;
    }
    .tool-item-link-frame {
        margin-left: 0;
        margin-top: 5px;
    }
}

@media (min-width: 380px) {}

@media (max-width: 480px) {
    .site-manage {
        margin-top: 15px;
    }
}

@media (min-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 980px) {}

/*---------------------------------------------------------------------------*/

/*----------------------------------Manage End----------------------------------*/

/*---------------------------------------------------------------------------*/